/* ---------------------------------------------------------------------------- */
/* -------------------------------------forms---------------------------------- */
/* ---------------------------------------------------------------------------- */
form {padding:0px 25px;}

label {cursor:pointer;margin:5px 0;display:block;font-weight:bold;}
input {display:block;width:100%;color:#000;border:1px solid #ccc;padding:13px;margin: 5px 0 15px 0;font-size: 16px;max-height: 45px;}
textarea {display:block;width:100%;background-color:#fff; color:#000;border:1px solid #ccc;padding:10px;margin: 5px 0 20px 0;}

.submit {cursor:pointer;background-color:#7B4A1F;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;;width:100%;color:#ffffff;}
.submit:hover {opacity: 0.8;}